.searchButton{
    color: white;
    background-color: rgb(3, 158, 3);
}
.searchButton:hover{
     background-color: rgb(4, 126, 4);
}
.navLinks{
    color: white;
    font-weight: bold;
}
.navLinks:hover{
    color: gold;
}
.signUp{
    cursor: pointer;
    text-decoration: underline;
    background: none;
    border: none;
}
.signUp:hover{
    color: blue;
}
.error{
    color: red;
}